<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body style="background-color: #121212;">
<nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #121212;">
    <div class="container">
      <a class="navbar-brand text-white" href="/lists">
      <i class="fa-solid fa-film" style="color: white; margin-right: 8px;"></i>
      Movie Lists
    </a>
      <div class="d-flex ms-auto">
        <%= link_to "New list", new_list_path, class: "btn btn-success" %>
      </div>
    </div>
  </nav>
    <div class="mx-3"><%= yield %></div>
  </body>
</html>


<%#  style="background-color: #121212;" for body later %>
